<div class="back-to-boards"><h1><%= link_to "<< Boards", boards_path %></h1></div>
<div class="back-to"><< <%= link_to @post.title, board_post_path(@board, @post) %></div>

<div class="new-board-wrapper">
	<div class="new-board-main">
		<div>
			<div class="new-board">Edit Note</div>
				<%= form_for [@board, @post, @note] do |f| %>
				<%= f.label :body %>
				<%= f.text_area :body %>

				<%= f.submit %>			
				<% end %>
		</div>
	</div>
</div>