
<div class="intro">
	<div class="logo"><%= image_tag "studii_logo2.png" %></div>
	<div class="add-board"><%= link_to "{+ Board}", new_board_path %></div>
</div>



<div class="boards-wrapper">
	<% @boards.each do |board| %>
	<% if board.user == current_user %>
		<div class="board">
			<img class="board-image" src="<%= board.image %>" alt="* * <%= board.title %> * *">
			<div class="board-url"><%= link_to board.title, board %></div>
		</div>
		<%# If you wanted to make the whole div a link, you could use %>
		<%= link_to board_path(board), class: 'board' do %>
			<img class="board-image" src="<%= board.image %>" alt="* * <%= board.title %> * *">
			<div class="board-url"><%= link_to board.title, board %></div>
		<% end %>
	<% end %>
	<% end %>
</div>

<div class="community">Created By The Community</div>
<div class="boards-wrapper community-wrapper">
	<% @boards.each do |board| %>
	<% if board.user != current_user %>
		<% if board.title != "Private" %>
			<div class="board">
				<img class="board-image" src="<%= board.image %>" alt="* * <%= board.title %> * *">
				<div class="board-url"><%= link_to board.title, board %></div>
			</div>
		<% end %>
	<% end %>
	<% end %>

</div>
