<div class="intro">
	<div class="logo"><%= image_tag "studii_logo2.png" %></div>
	<div class="add-board"><%= link_to "{+ Board}", new_board_path %></div>
</div>

<div class="boards-wrapper">
	<% @boards.each do |board| %>
		<% if board.user == current_user %>
			<%= link_to board_path(board), class: "board" do %>
				<div>
					<img class="board-image" src="<%= board.image %>" alt="* * <%= board.title %> * *" />
					<p class="board-url"><%= board.title %><p>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>

<div class="community">Created By The Community</div>
<div class="boards-wrapper community-wrapper">
	<% @boards.each do |board| %>
		<% if board.user != current_user %>
			<% if board.title != "Private" %>
				<%= link_to board_path(board), class: "board" do %>
					<div>
						<img class="board-image" src="<%= board.image %>" alt="* * <%= board.title %> * *" />
						<p class="board-url"><%= board.title %><p>
					</div>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</div>
