
<div class="intro">
	<div class="logo"><%= image_tag "studii_logo2.png" %></div>
	<div class="add-board"><%= link_to "{+ Board}", new_board_path %></div>
</div>


	
<div class="boards-wrapper">
	<% @boards.each do |board| %>
		<div class="board">
			<img class="board-image" src="<%= board.image %>" alt="* * <%= board.title %> * *">
			<div class="board-url"><%= link_to board.title, board %></div>
		</div>
	<% end %>
</div>
	

	