<h2><%= @board.title %>
<%= link_to "(edit)", edit_board_path(@board) %>
<%= link_to "(delete)", board_path(@board), :method => :delete %>	
</h2>

<%= link_to "(Add post)", new_board_post_path(@board) %>

<div class="posts-wrapper">
	<% @board.posts.each do |post| %>
		<div class="post">
			<img class="post-image" src="<%= post.image %>" alt="<%= post.title %>">
			<%= link_to post.title, board_post_path(@board, post) %>
		</div>
	<% end %>
</div>


