  <div class="show-wrapper">
  	<div class="back-to-boards"><h1><%= link_to "<< Boards", boards_path %></h1></div>
	<div class="page-header">
		<img class="board-top" src="<%= @board.image %>" alt="<%= board.title %>">
		<div class="board-title"><%= @board.title %></div>
		<div class="window-footer">
			<div><%= @board.user.email %></div>
		</div>

			<h3>
				<% if @board.user == current_user %>
					<%= link_to "(edit board)", edit_board_path(@board) %>
					<%= link_to "(delete board)", board_path(@board), :method => :delete %>	
					<div><%= link_to "(add post)", new_board_post_path(@board) %></div>
				<% end %>
			</h3>
		
	</div>


	<div class="posts-wrapper">
		<% @board.posts.each do |post| %>
			<% if @board.user == current_user %>
				<div class="post">
					<div class="post-image-wrapper"><img class="post-image" src="<%= post.image %>" alt="* * <%= post.title %> * *"></div>
					<div><%= link_to post.title, board_post_path(@board, post) %></div>
				</div>
			<% elsif @board.user != current_user %>
				<% if post.title != "Private" %>
					<div class="post">
						<div class="post-image-wrapper"><img class="post-image" src="<%= post.image %>" alt="* * <%= post.title %> * *"></div>
						<div><%= link_to post.title, board_post_path(@board, post) %></div>
					</div>

				<% end %>
			<% end %>
		<% end %>
	</div>
</div>



