<div class="back-to-boards"><h1><%= link_to "<< Boards", boards_path %></h1></div>
<div class="back-to"><< <%= link_to @board.title, board_path(@board) %></div>

<div class="new-board-wrapper">
	<div class="new-board-main">
	<div>
	<div class="new-board">Edit Post</div>

<%= form_for [@board, @post] do |f| %>
	<%= f.label :title %>
	<%= f.text_area :title %>

	<%= f.label :image %>
	<%= f.text_area :image %>

	<%= f.label :url %>
	<%= f.text_area :url %>

	<%= f.submit %>
<% end %>

	</div>
	</div>
</div>