<h1>Edit Post</h1>

<%= form_for [@board, @post] do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :image %>
	<%= f.text_field :image %>

	<%= f.label :url %>
	<%= f.text_field :url %>

	<%= f.submit %>
<% end %>