<div class="notes-header">
	<div class="back-to-boards"><h1><%= link_to "<< Boards", boards_path %></h1></div>
	<p class="back-to"><< <%= link_to @board.title, board_path(@board) %></p>
</div>

<div class="inner-post-wrapper">
	<div class="inner-post-image-wrapper">
		<img class="inner-post-image" src="<%= @post.image %>" alt="* * <%= @post.title %> * *">
			<div class="visit"><%= link_to "Visit Page >>", @post.url %></div>
	</div>
	<div class="url-and-notes">
		<div class="note-heading">
			<div class="post-title"><%= @post.title %></div>

			<%# if @post.user == current_user %>	
			<%= link_to "(edit post)", edit_board_post_path(@board, @post) %>
			<%= link_to "(delete post)", board_post_path(@board, @post), :method => :delete %>	
			<%# end %>
			<div><%= link_to "(add note)", new_board_post_note_path(@board, @post) %></div>
		</div>
		<% @post.notes.each do |note| %>
			<div class="note">	
				<div class="note-body"><%= note.body %></div> 
				<%= note.created_at %>
				<%= link_to "(edit note)", edit_board_post_note_path(@board, @post, note) %>
				<%= link_to "(delete note)", board_post_note_path(@board, @post, note), :method => :delete %>
			</div>
		<% end %>
	</div>
</div> 